@font-face {
    font-family: typewriter;
    src: url('typewcond_regular.otf') format("opentype");
}
body {
    font-family: typewriter;
    display: grid;
    text-align: center;
}
h1 {
    font-size: 32px;
}
form {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-div {
    margin-bottom: 10px;
}
.new-button {
    height: 32px;
    background-color: brown;
    color: white;
    border-radius: 10%;
}
.form-div {
    display: none;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.form-elm {
    margin: 3px 0px 3px 0px;
}
.library {
    display: grid;
    grid-template-columns: repeat(5, 10vw);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}
.book {
    font-family: typewriter;
    display: grid;
    grid-template-areas: 
        "bookTitle"
        "bookAuthor"
        "bookPages"
        "bookSpacing"
        "bookRead"
        "bookOptions";
    background: brown;
    border-radius: 5%;
    padding: 10px;
}
.title-label {
    font-weight: bold;
    font-size: 24px;
    grid-area: bookTitle;
}
.author-label {
    font-style: italic;
    font-size: 16x;
    grid-area: bookAuthor;
}
.pages-label {
    font-size: 12px;
    grid-area: bookPages;
}
.spacing-div {
    height: 30px;
    grid-area: bookSpacing;
}

.options-div {
    grid-area: bookOptions;
    /* flex-direction: column; */
}
.read-label {
    grid-area: bookRead;
}
.book-label {
    color: white;
}
